.title{
	text-decoration: underline;
	font-weight: bolder;
	text-align: center;
	font-size: 35px;

}
.author{
	font-size: 12px;

}
.date{
	font-size: 10px;

}
.book-footer{
	border: none;
	background-color: white;
	padding: 0;
}